.apples {
    font-size: 24px;
    color: gray;
    font-weight: bold;
    align-self: self-start;
}
main h1 {
    text-align: center;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.works_logs {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 70vw;
    gap: 30px;
}
.works_log {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
td {
    padding-block: 20px;
    padding-inline: 5px;
    background-color: rgb(238,238,255);
}
th {
    padding: 5px;
    background-color: rgb(221,221,221);
}
.is_not_finished {
    background-color: rgb(255,238,255);
}
.is_finished {
    background-color: rgb(187,255,184);
}